<div class="row">
  <div class="col l6 offset-l3">
        <h3 class="center">Vendi un oggetto</h3>

        <%= render 'form', content: @content %>

        <%= link_to 'Indietro', contents_path %>
  </div>
</div>
