<div class="home center z-depth-5">
    <h2>Benvenuto su ViShop</h2>
    <h4>Vendi, compra, dona!</h4>
    <div class="home-button">
        <%=link_to "Vai allo store", contents_path, class:"waves-effect waves-light btn #ff5722 deep-orange hoverable" %>
        <%=link_to "Il progetto", about_path, class:"waves-effect waves-light btn #ff5722 deep-orange hoverable" %>
    </div>
</div>

<div class="center">
    <br>
    <h5>ViShop è il tuo mercatino solidale</h5>
    <br>
      <div class="row cards-home">

            <div class="col s4 hoverable">
                <i class="pulse material-icons">account_balance_wallet</i>
                <p>Vendi i tuoi oggetti</p>
                <span class="">Ciò che non serve più a te potrebbe servire ad altri!
                Monetizza vendendo gratuitamente i tuoi oggetti usati e allo stesso tempo rendi felice chi cercava proprio quell'oggetto.
                </span>        
            </div>

            <div class="col s4 hoverable">
                <i class="material-icons ">add_shopping_cart</i>
                <p>Compra prodotti usati</p>
                <span class="">Perchè spendere di più se puoi risparmiare? L'usato è un ottimo affare.
                Cerca nello store il prodotto che fa per te e acquista in modo semplice, veloce e sicuro.
                </span>        
            </div>

            <div class="col s4 hoverable">
                <i class="material-icons">sentiment_very_satisfied</i>
                <p>Aiuta chi è meno fortunato</p>
                <span class="">Nel momento in cui acquisti un prodotto su ViShop, il 10% viene devoluto in beneficenza
                ma se vuoi donare di più allora non ti resta che recarti nell'apposita sezione ed effettuare una donazione volontaria.
                </span>        
            </div>

     </div>
</div>


