@import "materialize";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Manrope', sans-serif;
  }

.cointainer{
  margin-top: 1%;
}

main {
    flex: 1 0 auto;
  }
      
.btn-devise {
  width: 100%;
}

.waves-button-input{
  color: white;

}

.show-img{
  padding-right: 5%;
}

.show-titolo{
  margin-top: 0%;
  font-size: 3.4em;
}

.show-prezzo{
  font-size: 2em;
}

/************* HOME PAGE ***************/
.home{
  background: linear-gradient(357deg, #78909c, transparent);
  padding: 3%;
}

.row.cards-home{
  margin-bottom: 7%;
}

.home-button{
  margin-top: 5%;
  .btn{
    margin-right: 1%;
  }
}

.center{
  margin-top: 4%;
  p{
  font-weight: bold;
}
} 

/************* STORE - INDEX ***************/
.card-image{
  height: 150px;
}

/************* FOOTER ***************/
.footer-copyright{
  margin-top: -16px;
}

.paypal{
  margin-top: 0%;
}

.row .col.s12.tabella {
  margin-left: 24%;
}


