<footer class="#455a64 blue-grey darken-2 page-footer">

    <div class="footer-copyright">
        <div class="container">

            <div class="row">

                <div class="col s4">
                 © 2020 ViShop
                </div>

                <div class="col s4 center paypal">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick" />
                    <input type="hidden" name="hosted_button_id" value="NCTJZRDSHQNNJ" />
                    <input type="image" src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Fai una donazione con il pulsante PayPal" />
                    <img alt="" border="0" src="https://www.paypal.com/it_IT/i/scr/pixel.gif" width="1" height="1" />
                    </form>                </div>

                <div class="col s4">
                <%=link_to "Chi siamo", about_path, class:"grey-text text-lighten-4 right" %>

                </div>
            </div>
        </div>
    </div>
</footer>
    