    <header class="navbar-fixed">
          <nav class="#455a64 blue-grey darken-2">
            <div class="container nav-wrapper">
              <%= link_to "ViShop", root_path, class: "brand-logo" %>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <%= link_to "About", about_path %>
              </ul>
            </div>
          </nav>
          <ul class="sidenav" id="mobile-demo">
            <li><%= link_to "About", about_path %></li>
          </ul>
    </header>
